.page-header
  h1= backlog.name
    a.btn.pull-right(href="/backlogs/#{backlog._id}/admin")
      i.icon-wrench
      = ' Admin'
    a.btn.pull-right(href="/backlogs/#{backlog._id}/0") History
  

form.well.form-inline(method='post', action='/backlog-item/create', data-bind='submit: addItem', id='add_backlogitem')
  input(type="hidden", name='backlog_id', value='#{backlog._id}')  
  .controls
    span= 'Add item '
    input.input-xlarge(type="text", name='backlog_item[description]', data-bind='value: itemToAdd, valueUpdate: "afterkeydown"') 
    = ' '
    button.btn.btn(type="submit") Save
table.table.table-condensed.backlog-items
  thead
    tr
      th(width='2%')
      th(width='5%') #
      th Description
      th(width='10%') 
  tbody(data-bind='foreach: items')
    tr
      td
      td(data-bind="text: $index() + 1")
      td(data-bind="text: description")
      td
        .btn-toolbar
          .btn-group
            button.backlog-item-action.btn.btn-mini.dropdown-toggle(data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#', data-action='delete') Delete


script(type='text/javascript')
  var backlogViewModel = function(items){
    this.items = ko.observableArray(items);
    this.itemToAdd = ko.observable("");
    this.addItem = function() {
        var form = $("#add_backlogitem");
        var data = form.serialize();
        var url = form.attr("action");
        var self = this;

        if (this.itemToAdd() != "") {
            this.items.push({ description : this.itemToAdd() }); 
            $.post(url, data, function(d){
              self.itemToAdd("");
            });
        }
        
        return false;
    }.bind(this);
  }
  var backlogItems = !{JSON.stringify(backlog.items)}; 
