extends ../layout

block body 
  .page-header
    h1= backlog.name
      a.btn.pull-right(href="/backlogs/#{backlog._id}/admin")
        i.icon-wrench
        = ' Admin'
      a.btn.pull-right(href="/backlogs/#{backlog._id}/0") History
    
  .well
    form.form-inline(method='post', action='/backlog-item/create', data-bind='submit: addItem', id='add_backlogitem')
      input(type="hidden", id='backlog_id', name='backlog_id', value='#{backlog._id}')  
      .controls
        span= 'Add item '
        input.input-xlarge(type="text", name='backlog_item[description]', data-bind='value: itemToAdd, valueUpdate: "afterkeydown"') 
        = ' '
        button.btn(type="submit") Save
  include toolbar 

  table.table.table-condensed.backlog-items
    thead
      tr
        th(width='2%')
        th(width='5%') #
        th Description      
    tbody(data-bind='foreach: items')
      tr(data-bind="css: { selected : isSelected() }, attr : {'data-id': _id }")
        td
          input(type='checkbox', data-bind="checked : isSelected")
        td(data-bind="text: $index() + 1")
        td
          span(data-bind="text: description", class="item-description")
          span(data-bind="visible : labels != null, text: labels", class="label label-info")

  script(type='text/javascript', src='/backlog_show.js')  
  script(type='text/javascript', src='/backlog_labels.js')
  script(type='text/javascript')
    var backlogItems = !{JSON.stringify(backlog.items)};
    var view = new BacklogView(backlogItems);
    view.init();
    labels.init();