table.table.table-condensed.backlog-items
  thead
    tr
      th(width='2%')
        input(type='checkbox', id='item-selector')
      th(width='5%') #
      th Description      
  tbody
    each item, i in backlog.items
      tr(data-id="#{item._id}")
        td
          input(type='checkbox')
        td(class='sortorder') #{i + 1}
        td
          a(href='/backlogs/#{backlog._id}/item/#{item._id}',id='#{item._id}', class='item-description') #{item.description}
          each label, i in item.labels || []
            span(class="label label-info")= label[i]